-# - user = params[:id].present? ? User.find_by_id(params[:id]) : User.new()
.user-form-block
  = form_for @user, html: { id: 'user-form' } do |f|
    .row
      .col-md-6.user-info-block
        .text-muted.text-xxl.block-title Данные
        .horizontal-separator
        .row
          .col-md-6
            = f.label "Имя"
            = f.text_field :firstname, placeholder: "Имя", required: true, autocomplete: "new-password"
          .col-md-6
            = f.label "Фамилия"
            = f.text_field :lastname, placeholder: "Фамилия", required: false, autocomplete: "new-password"
        .row
          .col-md-12
            = f.label "Почта"
            = f.text_field :email, placeholder: "Почта", type: :email, required: false, autocomplete: "new-password"
        - if (current_user.ceo? || current_user.director? || @user == current_user)
          .row
            .col-md-12
              = f.label "Логин"
              = f.text_field :login, placeholder: "Логин", required: true, autocomplete: "new-password"
          .row
            .col-md-12
              = f.label "Пароль"
              = f.number_field :password, placeholder: "Пароль", type: :password, required: true, autocomplete: "new-password"
        - if (current_user.ceo? || current_user.director?) && !(@user.ceo? && current_user.director?)
          .row
            .col-md-12
              = f.label "Роль"
              = f.select :role, options_for_select(user_roles_list.map{|r| [t("role_name_#{r}"), r]}, @user.role)
      .col-md-6.user-settings-block
        .text-muted.text-xxl.block-title Настройки
        .horizontal-separator
        .block-title.text-muted.text-big Telegram
        .row
          .col-md-12
            %label
              = "Telegram User Chat ID"
              %span.text-small.text-muted
                = link_to 'https://t.me/getmyid_bot' do
                  = '(Получить ID у бота)'
            = f.number_field :tg_chat_id, placeholder: "ID", type: :text, required: false, autocomplete: "new-password"
        .horizontal-separator
        .block-title.text-muted.text-big Crypto
        %label API
        .row
          .col-md-12
            = f.text_field :api, placeholder: "API", type: :password, required: false, autocomplete: "new-password"
        %label KEY
        .row
          .col-md-12
            = f.text_field :s_key, placeholder: "KEY", type: :password, required: false, autocomplete: "new-password"