.content
  .row
    .col-md-12
      .edit-user-title
        = link_to user_path(@user) do
          %span.text-muted.text-xxl= fa_icon "arrow-left"
        .space-between
          %span.text-xxl.text-bold Редактировать пользователя
          %button.df-btn{ type: 'submit', form: 'user-form' }
            %span.hide-on-mobile= "Сохранить"
            = fa_icon :save
      = render 'form'
