-# #dop-control-panel
  -# .dop-info-crypto
  -#   .main-prices
  -#     .loader= fa_icon "circle-o-notch spin"
  -#   .control-btns
  -#     #find-crypto-modal-btn.form-button.small-button
  -#       = fa_icon :search
  -#     #refresh-main-prices-btn.form-button.small-button
  -#       = fa_icon :refresh
.row
  -# .col-md-3.user-controls-panel
  .col-md-3
    -# .content 
    -#   .user-settings
    -#     .user-settings-head.text-bold.text-xxl
    -#       = "Настройки"
    -#     .user-settings-body
    -#       .setting-item.text-xl
            
    -#       .setting-item.text-xl
    -#         2
  .col-md-6.user-info-panel
    .content
      #user_id{ style: "display: none !important;" }= @user.id
      .back-to-users
        - user_back_link = current_user.director? || current_user.ceo? ? users_path : root_path
        - user_back_title = current_user.director? || current_user.ceo? ? 'Назад' : 'На главную'
        = link_to user_back_link do
          %span.text-muted.text-xxl= fa_icon "arrow-left"
        %span.text-xxl.text-bold= user_back_title
      .profile-cover
        = @user.cover_picture
      .profile-body
        .profile-picture
          .user-avatar
            = @user.avatar
        .user-desc
          %div
            = @user.firstname
            %span.hide-on-laptop= @user.lastname
            #user-id.text-muted.text-big= @user.user_login_id
          - if current_user.director? || current_user.ceo? || current_user == @user
            = link_to edit_user_path(@user) do
              .user-edit-btn
                %span.hide-on-mobile= "Редактировать"
                = fa_icon :edit
        .user-registered-info
          .text-muted= @user.registered_info
