.modal.fade.in#find-crypto-modal{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title= title
        %button.btn-without-background.small-button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
          = fa_icon :times
      .modal-body
        = form_for :search_crypto, remote: true, method: "post", html: { id: 'search-coins' }, url: search_coins_cryptos_path do |f|
          .form-control
            %input{ type: :text, name: "key", id: 'coin-search', autocomplete: "off" }
            #coin-search-btn.form-button
              %button.btn-icon{ type: :submit }= fa_icon "search"
              .loader{ style: "display: none;" }= fa_icon "circle-o-notch spin"
        .currencies-list
