#dop-control-panel
  .dop-info-crypto
    Крипта
  .vertical-separator
    -# .main-prices
    -#   .loader= fa_icon "circle-o-notch spin"
    -# .control-btns
    -#   #find-crypto-modal-btn.form-button.small-button
    -#     = fa_icon :search
    -#   #refresh-main-prices-btn.form-button.small-button
    -#     = fa_icon :refresh
.content
  .text-right
    .text-muted.text-big{ style: "margin-bottom: 5px;" } Всего средств
    .text-bold
      .text-xxxl= "$#{get_total_equity}"     

  - if get_wallet_coins.present?
    .coins-info-block
      - get_wallet_coins.each do |c|
        - coin_symbol = c["coin"]
        - coin_equity = c["equity"]
        - coin_usd_val = c["usdValue"]
        .coin-item
          .coin-icon
            = get_coin_img_by_symbol(coin_symbol)
          %div
            %span= coin_symbol
            .text-small.text-muted= coin_equity
          .text-big= "$#{coin_usd_val.to_f.round(2)}"