- show_item_style = @show_id.present? && @show_id == p.id ? show_style : ''
-# .group-for-block{ data: { parfum_id: p.id } }
-#   .card-block.block-item{ style: show_item_style, data: { parfum_id: p.id } }
-#     .parfum-recipe-info
-#       %div= p.parfum_name
-#       -# %div.text-muted= "#{pr.ml} мл." if pr.ml.present?
    
-#     .block-controls
-#       .parfum-expense
-#         .text-muted= "~ #{p.recipe.get_recipe_expense} ₽" if p.recipe.present?
-#       .delete-parfum-btn.delete-btn{ data: { parfum_id: p.id } }
-#         = fa_icon :trash
  
.card-block.card-item.clickable.parfum-card-block{ data: { parfum_id: p.id } }
  .card-icon
    .card-id.text-small.text-muted= "##{p.id}"
    = material_icon.shape(:science).outlined
  .card-block-info
    .card-block-info-1
      .card-name.parfum-name.text-big.tooltip-m{ title: p.parfum_name }
        .break-text= p.parfum_name
      .text-muted.tooltip-m{ title: "Примерные затраты" }= "~ #{p.recipe.get_recipe_expense} ₽"
    .card-block-info-2.text-small.parfum-recipe-info{ data: { parfum_recipe_id: p.parfum_recipe_id } }
      .text-small.text-muted= "Рецепт: ##{p.parfum_recipe_id}"
    .delete-btn.delete-parfum-btn.text-danger.card-btm-right{ data: { parfum_id: p.id } }
      = fa_icon :trash
