.group-for-block{ data: { parfum_material_id: pm.id } }
  .parfum-material-item.block-item{ data: { parfum_material_id: pm.id } }
    .parfum-material-info
      %span{ style: 'margin-bottom: 2px;' }
        %span= pm.material_name
        %span.text-muted.text-small= "= #{pm.expense} ₽" if pm.expense.present?
      .text-muted
        - if pm.liquid_material?
          - material_ml_style = pm.liquid_material_mls_left > 0 ? '' : 'text-danger'
          %span{ class: material_ml_style }= "#{pm.liquid_material_mls_left} мл."
          %span.text-warning.text-small= "(- #{pm.get_total_spent_liquid_material_ml} мл.)" if pm.get_total_spent_liquid_material_ml > 0
        - else
          - material_count_style = pm.not_liquid_material_count_left > 0 ? '' : 'text-danger'
          %span{ class: material_count_style }= "#{pm.not_liquid_material_count_left} шт."
          %span.text-warning.text-small= "(- #{pm.get_total_spent_not_liquid_material_count} шт.)" if pm.get_total_spent_not_liquid_material_count > 0

    .block-controls
      .show-parfum-material-btn.show-block-info.default-btn{ data: { parfum_material_id: pm.id } }
        = fa_icon :info
      .delete-parfum-material-btn.delete-btn{ data: { parfum_material_id: pm.id } }
        = fa_icon :trash
  .block-item-info
    .block-item-info-header Используется:
    - if pm.materials_used_in.present?
      .block-item-info-body
        %div
          - pm.materials_used_in.each do |pmu|
            - if pm.liquid_material?
              .text-muted.text-small= "В рецепте ##{pmu.recipe.id} (#{pmu.recipe.get_spent_material(pm.id)} мл.)"
            - else
              .text-muted.text-small= "В рецепте ##{pmu.recipe.id} (#{pmu.recipe.get_spent_material(pm.id)} шт.)"
        - if pm.liquid_material?
          .text-muted.text-small= "1 мл. ~#{pm.one_material_cost} ₽"
        - else
          .text-muted.text-small= "1 шт. ~#{pm.one_material_cost} ₽"
    - else
      .block-item-info-body
        .text-muted.text-small Еще нигде не использовался
        - if pm.liquid_material?
          .text-muted.text-small= "1 мл. ~#{pm.one_material_cost} ₽"
        - else
          .text-muted.text-small= "1 шт. ~#{pm.one_material_cost} ₽"