.modal.fade.in#parfum-material-modal{:tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5.modal-title
          = title
          %span.text-muted.one-drop-info{ data: { one_drop: one_drop_ml } }
            = one_drop_ml_title
            -# = render partial: 'change_one_drop_info'
        %button.btn-without-background.small-button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
          = fa_icon :times
      .modal-body
        = form_for parfum_material, remote: true, html: { id: 'parfum-material' }, url: url do |f|
          = f.number_field :id, style: "display: none;"
          .row
            .col-md-12
              = f.label "Расходник"
              = f.text_field :material_name, required: true
          .row
            .col-md-6
              - show_liquid_material = parfum_material.liquid_material
              .parfum-material-ml{ style: show_liquid_material ? 'display: block;' : 'display: none;' }
                = f.label "Миллилитры"
                = f.number_field :material_ml, required: false
              .parfum-material-count{ style: !show_liquid_material ? 'display: block;' : 'display: none;' }
                = f.label "Кол-во"
                = f.number_field :material_count, required: false
            .col-md-6
              = f.label "Затраты"
              = f.number_field :expense, required: true
          .row
            .col-md-6
              .group-row  
                = f.label :liquid_material, "Жидкий материал"
                = f.check_box :liquid_material, required: false, checked: parfum_material.liquid_material
            - if parfum_material.present? && parfum_material.id.present?
              .col-md-6
                .group-row  
                  = f.label :archive, "Архив"
                  = f.check_box :archive, required: false, checked: parfum_material.archive
      .modal-footer 
        %button{ "data-bs-dismiss" => "modal", class: 'save-btn default-btn' } Закрыть
        %button{ type: 'submit', form: 'parfum-material', class: 'save-btn primary-btn' } Сохранить