#dop-control-panel
  Духи
  .dop-info-controls
    %span.text-muted.one-drop-info{ data: { one_drop: one_drop_ml } }
      = one_drop_ml_title
    = link_to parfums_path do
      #refresh-data.form-button.small-button
        = fa_icon :refresh
    #new-parfum-modal.form-button.small-button
      = fa_icon :plus
.content
  - parfum_block_style = @parfums.length >= 6 ? 'justify-content: center;' : ''
  .parfum-block.card-blocks{ style: parfum_block_style }
    - @parfums.each do |p|
      = render partial: "parfum_item", locals: { p: p }
