#dop-control-panel
  %div
    %span= "Расходники"
    %span.text-muted.text-small= "затрачено: (#{total_materials_expense.round(2)} ₽)" if ParfumMaterial.all.present?
  .dop-info-controls
    %span.text-small.text-muted.one-drop-info{ data: { one_drop: one_drop_ml } }
      = one_drop_ml_title
    -# = link_to parfum_materials_parfums_path do
    -#   #refresh-data.form-button.small-button
    -#     = fa_icon :refresh
    #new-parfum-material-modal.form-button.small-button
      = fa_icon :plus
.content
  - parfum_block_style = @parfum_materials.length >= 6 ? 'justify-content: center;' : ''
  .parfum-material-block.card-blocks{ style: parfum_block_style }
    - @parfum_materials.each do |pm|
      = render partial: "parfum_material_item", locals: { pm: pm }
