#dop-control-panel
  %div
    %span= "Рецепты"
    %span.text-muted.text-small.hide-on-mobile= "затрачено:" if ParfumRecipe.all.present?
    %span.text-muted.text-small= "(#{total_recipe_materials_expense.round(2)} ₽)" if ParfumRecipe.all.present?
  .dop-info-controls
    %span.text-small.text-muted.one-drop-info{ data: { one_drop: one_drop_ml } }
      = one_drop_ml_title
    -# = link_to parfum_recipes_parfums_path do
    -#   #refresh-data.form-button.small-button
    -#     = fa_icon :refresh
    #new-parfum-recipe-modal.form-button.small-button
      = fa_icon :plus
.content

  - parfum_block_style = @parfum_recipes.length >= 6 ? 'justify-content: center;' : ''
  .parfum-recipe-block.card-blocks{ style: parfum_block_style }
    - @parfum_recipes.each do |pr|
      = render partial: "parfum_recipe_item", locals: { pr: pr }