.page-wrapper
  %nav#sidebar.sidebar-wrapper
    .sidebar-content
      .sidebar-brand
        = link_to root_path do
          %span.panel-logo RIYATI
        #close-sidebar
          = fa_icon :times

      .sidebar-header
        .user-avatar
          = current_user.avatar
        .user-info
          %span.user-name
            %strong= current_user.fullname
          %span.user-role= t("role_name_#{current_user.role}")

      .sidebar-menu
        %ul
          %li
            = link_to cryptos_path do
              Крипта
          %li.sidebar-dropdown
            %a{:href => "#"}
              .submenu-title
                Парфюм
                %span.submenu-btn= fa_icon 'angle-right'
            .sidebar-submenu
              %ul
                %li
                  %a{:href => "#"} Парфюм 1
                %li
                  %a{:href => "#"} Парфюм 2
                %li
                  %a{:href => "#"} Парфюм 3
          - if current_user.director?
            %li
              = link_to users_path do
                Пользователи
    .sidebar-footer
      %a{:href => "#"}
        %i.fa.fa-bell
        %span.badge.badge-pill.badge-warning.notification
      %a{:href => "#"}
        %i.fa.fa-envelope
        %span.badge.badge-pill.badge-success.notification
      %a{:href => "#"}
        %i.fa.fa-cog
      = link_to logout_sessions_path do
        = fa_icon "sign-out"
