!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    %meta{ charset: "utf-8" }
    %meta{:content => "yes", :name => "mobile-web-app-capable"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', type: "module"
    %title RIYATI
    %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}
    %link{:crossorigin => "", :href => "https://fonts.gstatic.com", :rel => "preconnect"}
    %link{:href => "manifest.json", :rel => "manifest"}
    %link{:href => "dashboard.png", :rel => "icon"}
    %link{:href => "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rowdies:wght@300;400;700&display=swap", :rel => "stylesheet"}

    = csrf_meta_tags
  %body
    %header
      #control-panel= render partial: 'layouts/panel'
    .wrapper
      = yield
    %footer

#find-crypto-modal-outer
#coin-info-modal-outer